<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid Card</title>
</head>
<body>
  <main class="container">
    <section class="title">
    <h1>GRID REXPONSIVE CARDS</h1>
    </section>
  
  <section class="wrapper">
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 1
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 2
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 3
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 4
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 5
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
    <div class="grid-card">
      <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
      <h2>
        GRID RESPONSIVE CARD N 6
      </h2>
      <p>Grid resnponsive card, resnponsive grid card</p>
    </div>
  </section>
</main>
</body>
</html>
